@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

:root {
  --primary-color: #047aed;
  --secondary-color: #1c3fa8;
  --dark-color: #002240;
  --light-color: #f4f4f4;
  --success-color: #5cb85c;
  --error-color: #d9534f;
  --tx-color: #333;
  --tx-white: #fff;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'lato', sans-serif;
  color: var(--tx-color);
  line-height: 1.6;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: var(--tx-color);
}

h1,
h2 {
  font-weight: 300;
  line-height: 1.2;
}

p {
  margin: 10px 0;
}

/* Navbar */
.navbar {
  background-color: var(--primary-color);
  color: var(--tx-white);
  height: 70px;
}
.navbar ul {
  display: flex;
}
.navbar a {
  color: var(--tx-white);
  padding: 10px;
  margin: 0 5px;
}
.navbar a:hover {
  border-bottom: 2px var(--tx-white) solid;
}
.navbar .flex {
  justify-content: space-between;
}
/* End Navbar */
